params {
	pod5_dir = 'data/Example_Data/Example_Data_Custom_Barcodes/NP51_pod5'
	bam_file_name = 'SUP.bam'
	minimum = 1300
	maximum = 1600
	barcode_arrangement = 'data/Example_Data/Example_Data_Custom_Barcodes/code/7.21.25_NBD_custom_arrangement.toml'
	barcode_sequences = 'data/Example_Data/Example_Data_Custom_Barcodes/code/7.21.25_NBD_custom_96_barcodes.fasta'
	kit_name = 'custom_barcode'
}
